*.o
/build
/getconf.h
/libutf.a
/libutil.a
/basename
/cal
/cat
/chgrp
/chmod
/chown
/chroot
/cksum
/cmp
/cols
/comm
/cp
/cron
/cut
/date
/dd
/dirname
/du
/echo
/ed
/env
/expand
/expr
/false
/find
/flock
/fold
/getconf
/grep
/head
/hostname
/join
/kill
/link
/ln
/logger
/logname
/ls
/md5sum
/mkdir
/mkfifo
/mknod
/mktemp
/mv
/nice
/nl
/nohup
/od
/paste
/pathchk
/printenv
/printf
/pwd
/readlink
/renice
/rev
/rm
/rmdir
/sed
/seq
/setsid
/sha1sum
/sha224sum
/sha256sum
/sha384sum
/sha512sum
/sha512-224sum
/sha512-256sum
/sleep
/sort
/split
/sponge
/strings
/sync
/tail
/tar
/tee
/test
/tftp
/time
/touch
/tr
/true
/tsort
/tty
/uname
/unexpand
/uniq
/unlink
/uudecode
/uuencode
/wc
/which
/whoami
/xargs
/xinstall
/yes
